$white             : #ffffff;
$primary           : #3AB4A5;
$bodyBg            : #F1F2F5;
$darkGray          : #454546;
$black             : #000000;
$lightGray         : #BBBBBB;
$gray              : #777777;