@import '~@owczar/spin-template/src/scss/bootstrap/variables';

@import '../../styles/variables/colors';

.mainWrap {
    .graphWrap {
        margin-top: 3rem;
    }

    .avgResponseTime {
        margin: 0;
        font-size: 6rem;
        font-weight: 300;
        color: $black;

        small {

        }
    }

    .responsesSummary span {
        color: $black;
    }

    .detailedSummary {
        margin-top: 3rem;

        table {
            td:last-child {
                text-align: left !important;
            }
        }
    }
}
